<nav class="navbar navbar-expand-sm navbar-light bg-light" >
    <a class="navbar-brand" href="#">CARD GAME</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div *ngIf="isLoggedIn" class="form-inline my-2 my-lg-0">
            <button (click)="logout()" type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </button>
        </div>
        <div *ngIf="!isLoggedIn" class="form-inline my-2 my-lg-0">
            <a class="nav-link" routerLink="/login"><button class="btn btn-outline-primary btn-sm" >Login</button></a>
            <a class="nav-link" routerLink="/register"><button class="btn btn-outline-success btn-sm" >Register</button></a>
        </div>
    </div>
</nav>
